{% block grid %}

    {% if taskCycles is empty %}
        {% trans %}<h4>no_cycles</h4>{% endtrans %}
    {% else %}

        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp td-bold">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">{% trans %}name{% endtrans %}</th>
                    <th>{% trans %}hour{% endtrans %}</th>
                    <th>{% trans %}day{% endtrans %}</th>
                    <th>{% trans %}week{% endtrans %}</th>
                    <th>{% trans %}month{% endtrans %}</th>
                </tr>
            </thead>

            <tbody>
            {% for taskCycle in taskCycles %}
                <tr data-uri="{{ path('editTaskCycle', {'id': taskCycle.id}) }}" class="pointertr">
                    <td class="mdl-data-table__cell--non-numeric">{{ taskCycle.name }}</td>
                    <td>{% if taskCycle.hour > 0 %} {{ taskCycle.hour }} hour(s){% endif %}</td>
                    <td>{% if taskCycle.day > 0 %} {{ taskCycle.day }} day(s){% endif %}</td>
                    <td>{% if taskCycle.week > 0 %} {{ taskCycle.week }} week(s){% endif %}</td>
                    <td>{% if taskCycle.month > 0 %} {{ taskCycle.month }} month(s){% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}
