{% extends 'base.html.twig' %}

{% block body %}

    {% set currentMonth = yyyymm ~ '-' ~ 1 %}

    <div id="grid-header">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect">
            <i class="material-icons">insert_invitation</i>
            {{ currentMonth|date("F Y") }}
        </button>

        <div id="grid-right">
            <button data-uri="{{ path('listTimeRow', {'user': user, 'yyyymm': currentMonth|date_modify("-1 month")|date("Y-m")}) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect">
                <i class="material-icons">navigate_before</i>
                {{ currentMonth|date_modify("-1 month")|date("F Y") }}
            </button>

            <button data-uri="{{ path('listTimeRow', {'user': user, 'yyyymm': currentMonth|date_modify("+1 month")|date("Y-m")}) }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect">
                {{ currentMonth|date_modify("+1 month")|date("F Y") }}
                <i class="material-icons">navigate_next</i>
            </button>
        </div>
    </div>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
            <th width="100px" class="mdl-data-table__cell--non-numeric">{% trans %}date{% endtrans %}</th>
            <th width="100px" class="mdl-data-table__cell--non-numeric">{% trans %}weekDay{% endtrans %}</th>
            <th width="100px" class="mdl-data-table__cell--non-numeric">{% trans %}startTime{% endtrans %}</th>
            <th width="100px" class="mdl-data-table__cell--non-numeric">{% trans %}endTime{% endtrans %}</th>
            <th width="100px" class="mdl-data-table__cell--non-numeric">{% trans %}workingHours{% endtrans %}</th>
            <th width="100px" class="mdl-data-table__cell--non-numeric">{% trans %}lunch{% endtrans %}</th>
            <th width="100px" class="mdl-data-table__cell--non-numeric">{% trans %}sickleave{% endtrans %}</th>
            <th class="mdl-data-table__cell--non-numeric">{% trans %}description{% endtrans %}</th>
        </tr>
        </thead>

        <tbody>
        {% for i in 1..dates %}
            {% set currentDate = yyyymm ~ '-' ~ i %}
            {% set userDateRow = timeRowRepository.getDateInformation(user, currentDate) %}
            <tr data-uri="{{ path('editTimeRow', {'user': user, 'date': currentDate}) }}"
                class="pointertr {% if userDateRow != null %}timerow-edited{% endif %} {% if currentDate|date('N') > 5 %}timerow-weekend{% endif %}">
                <td class="mdl-data-table__cell--non-numeric">{{ currentDate|date('d.m.Y') }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ currentDate|date('l') }}</td>
                {% if userDateRow != null %}
                    {% set workingHours = timeRowRepository.getWorkingHours(user, currentDate) %}

                    <td class="mdl-data-table__cell--non-numeric">{{ userDateRow.startTime|date("H:i") }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ userDateRow.endTime|date("H:i") }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ workingHours }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ userDateRow.lunch|date("Hi") != '0000' ? userDateRow.lunch|date("H:i") : '' }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ userDateRow.sickleave|date("Hi") != '0000' ? userDateRow.sickleave|date("H:i") : '' }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ userDateRow.description }}</td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}