<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}TaskManager{% endblock %}</title>
        <meta name="robots" content="noindex, nofollow" />
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/semantic.min.css" type="text/css">
            <link rel="stylesheet" href="/css/notifications.css" type="text/css">
            <link rel="stylesheet" href="/css/taskmanager.css" type="text/css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    </head>

    <body>
        <div class="ui black inverted menu">
            <div class="ui container">
                <a href="#" class="header item">
                    Manager
                </a>

                <a class="item" href="{{ path('listTimeRow') }}">Time tracking</a>

                <div class="ui simple dropdown item">
                    Entities <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="{{ path('listCustomer') }}">Customers</a>
                        {#<a class="item" href="{{ path('listTask') }}">Tasks</a>#}
                        {#<a class="item" href="{{ path('listInvoice') }}">Invoices</a>#}

                        {#<a class="item" href="{{ path('editUser', {'id': app.user.id}) }}">Profile</a>#}
                        {#<a class="item" href="{{ path('listUser') }}">Users</a>#}
                        {#<a class="item" href="{{ path('listGroup') }}">Groups</a>#}
                        <a class="item" href="{{ path('listCategory') }}">Categories</a>
                        {#<a class="item" href="{{ path('listTaskCycle') }}">Task cycles</a>#}
                        <a class="item" href="{{ path('listItem') }}">Items</a>
                        <a class="item" href="{{ path('listUnit') }}">Units</a>
                        <a class="item" href="{{ path('listCountry') }}">Countries</a>
                    </div>
                </div>

                <a class="item" href="{{ path('listPrivateMessage') }}">
                    <i class="mail outline icon"></i>
                </a>

                <div class="item" id="logoutApp"></div>
            </div>
        </div>

        <div class="ui main container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="/js/jquery.min.js"></script>
            <script src="/js/semantic.min.js"></script>
            <script src="/js/taskmanager.js"></script>

            <script src="http://localhost:8080/logoutApp.js"></script>
            {% block reactjs %}{% endblock %}
        {% endblock %}
    </body>
</html>
