{% extends 'gridstyle.html.twig' %}

{% block grid %}
    {% if tasks is empty %}
        {% trans %}no_tasks_found{% endtrans %}
    {% else %}

        <div class="form-card">
            <form action="{{ path('completeInvoice', {'invoiceId': invoice.id}) }}" method="POST">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th width="15"></th>
                            <th class="mdl-data-table__cell--non-numeric">{% trans %}task{% endtrans %}</th>
                            <th class="mdl-data-table__cell--non-numeric">{% trans %}createdAt{% endtrans %}</th>
                            <th>{% trans %}price{% endtrans %}</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for task in tasks %}
                        <tr class="checkboxtr">
                            <td>
                                <input type="checkbox" value="{{ task.id }}" name="tasks[]" />
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{ task.task.name }}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{ task.createdAt|date('d.m.Y H:i') }}</td>
                            <td>{{ task.price|number_format(2, ',', '') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <input type="submit" value="proceed" style="display: none;">
            </form>
        </div>

    {% endif %}
{% endblock %}

{% block footer_left %}
{% endblock %}

{% block footer_right %}
    <button class="mdl-button mdl-js-button mdl-button--primary btn-submit-form">
        Create invoice <i class="material-icons">navigate_next</i>
    </button>
{% endblock %}

{% block header_left %}
    <button id="link-to-grid" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary mdl-js-ripple-effect">
        <i class="material-icons">navigate_before</i> Previous
    </button>
{% endblock %}
