{% extends 'gridstyle.html.twig' %}

{% block grid %}

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}id{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}date{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}customer{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}reference{% endtrans %}</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td class="mdl-data-table__cell--non-numeric">{{ invoice.id }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ invoice.createdAt|date('d.m.Y H:i:s') }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ invoice.customer.name }}</td>
                <td class="mdl-data-table__cell--non-numeric">{{ invoice.reference }}</td>
            </tr>
        </tbody>
    </table>

    <hr>

    {% if rows is empty %}
        {% trans %}no_rows_found{% endtrans %}
    {% else %}

        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">{% trans %}name{% endtrans %}</th>
                    <th class="mdl-data-table__cell--non-numeric">{% trans %}createdAt{% endtrans %}</th>
                    <th>{% trans %}price{% endtrans %}</th>
                </tr>
            </thead>

            <tbody>
            {% for row in rows %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ row.task.task.name }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ row.task.createdAt|date('d.m.Y H:i') }}</td>
                    <td>{{ row.task.price|number_format(2, ',', '') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}
