{% block grid %}

    {% if tasks is empty %}
        {% trans %}<h4>no_tasks</h4>{% endtrans %}
    {% else %}

        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}name{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}description{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}nextAt{% endtrans %}</th>
                <th class="mdl-data-table__cell--non-numeric">{% trans %}status{% endtrans %}</th>
                {% if nocustomername is defined %}
                {% else %}
                    <th class="mdl-data-table__cell--non-numeric">{% trans %}customer{% endtrans %}</th>
                {% endif %}
                <th class="mdl-data-table__cell--non-numeric">{% trans %}user{% endtrans %}</th>
            </tr>
            </thead>

            <tbody>
            {% for task in tasks %}
                <tr data-uri="{{ path('editTask', {'id': task.id}) }}" class="pointertr {% if task.important == 1 and task.status.id != 3 %}important{% endif %}">
                    <td class="mdl-data-table__cell--non-numeric">{{ task.task.name }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ task.description }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ task.nextAt|date('d.m.Y H:i') }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ task.status.name }}</td>
                    {% if nocustomername is defined %}
                    {% else %}
                        <td class="mdl-data-table__cell--non-numeric">{{ task.customer.name }}</td>
                    {% endif %}
                    <td class="mdl-data-table__cell--non-numeric">{{ task.user.fullName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}
